<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Assignees:</h1>
<a href="/todo/assignees/add">Add new assignee:</a>
<div>
    <table>
        <thead>
        <th>Name</th>
        <th>Email</th>
        </thead>
        <tbody>
        <tr th:each="assignee : ${assignees}">
            <td th:text="${assignee.name}"></td>
            <td th:text="${assignee.email}"></td>
            <td>
                <form th:action="@{/todo/assignees/delete}" method="post">
                    <input type="hidden" name="id" th:value="${assignee.id}">
                    <input type="submit" value="delete">
                </form>
            </td>
            <td>
                <a th:href="@{/todo/assignees/{id}/edit(id=${assignee.id})}">edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>