<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Registration</h1>
<span th:if="${error != null}" th:text="${error}"></span>
<form th:action="@{/register}" method="post">
    <label>Username:</label>
    <input type="text" name="username">
    <label>Password:</label>
    <input type="password1" name="password1">
    <label>Confirm password:</label>
    <input type="password1" name="password2">
    <input type="submit">
</form>
</body>
</html>